<div id="global-banner">
  <div>
     <a id="global-banner__link" href="https://about.gitlab.com/livestream/">FOLLOW ALONG</a> - GitLab is the first company to publicly live stream the entire IPO listing day at Nasdaq
  </div>
  <div id="global-banner__dismiss">
    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M26.6,1a3.08,3.08,0,0,1,4.5,0,3.08,3.08,0,0,1,0,4.5L20.5,16,31,26.6a3.18,3.18,0,0,1-4.5,4.5L16,20.5,5.4,31A3.08,3.08,0,0,1,.9,31a3.08,3.08,0,0,1,0-4.5L11.5,16,1,5.4A3,3,0,0,1,1,1,3.17,3.17,0,0,1,5.5,1L16,11.5Z" fill="currentColor" fill-rule="evenodd"/></svg>
  </div>
</div>

<style>
  #global-banner {
    top: 0;
    font-size: 23px;
    background-color: #9B51E0;
    color: #fff;
    padding: 1rem 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: 60px;
  }
  #global-banner__link {
    color: #fff;
    text-decoration: underline;
  }
  #global-banner__link:hover {
    color: #fff;
  }
  #global-banner__dismiss {
    width: 32px;
    height: 32px;
    line-height: 0;
    padding: 1rem;
    cursor: pointer;
    position: absolute;
    right: 12px;
  }
</style>

<script>
  // Change cookie name if changing banner so there's no cookie conflicts
  var cookieName = "showLivestreamBanner";

  if (document.cookie.split(';').some((item) => item.trim().startsWith(`${cookieName}=`))) {
    console.log('hide')
    document.getElementById("global-banner").style.display = "none";
  }

  document.getElementById("global-banner__dismiss").addEventListener("click", function() {
    document.getElementById("global-banner").style.display = "none";
    document.cookie = `${cookieName}=false`;
  });
</script>
